 *{margin:0;padding:0;}
#wrapper{
	height:40px;
	background-color: #f5f5f5;
}

span{
	font-size: 12px;
	padding-left:50px;
	margin-right:20px;
}
#wrapper a{text-decoration: none;
	font-style: normal;
	font-size:12px;
	color:#555;
	line-height: 40px;

}
#wrapper a:hover,.color-login{
	color:#f40;
}
#wrapper a:nth-child(4){margin-left:20px;}
#wrapper a:nth-child(5){margin-left:280px;}
#wrapper a:nth-child(n-5){margin-right:20px;}
#ad{height: 100px;
	background-color: #ff1e26;
	position: relative;
}
.img_tb1{left:50px;top:10px;position: absolute;}
/*#ad a{float: left;
	display:inline-block;
}*/
.img_tb2{left:150px;top:15px;position: absolute;}
.img_tb3{left:370px;top:15px;position: absolute;}
.img_tb4{left:590px;top:16px;position: absolute;}
.img_tb5{left:810px;top:12px;position: absolute;}
.img_tb6{left:1030px;top:15px;position: absolute;}

/*#ad a:nth-child(n-2){display: inline-block;
	width: 250px;height: 80px;
}*/
.img_gif{margin:100px 0 0 30px;}
/*.container a{margin-left:30px;}*/
.search{margin-top:-120px;margin-right:30px;float: right;width: 1020px;height:120px;background-color:#ff1e26; }
.alls a{text-decoration: none;
		font-style: normal;
		font-size: 10px;
		color:#3c3c3c;
		
}
.alls a:hover{color:#ff5000;}
.search{position: relative;}
.alls{position: absolute;
		bottom:20px;
		left:60px;}
.color-search{color:#ff5000!important;}
.input{position: absolute;bottom:50px;left:40px;}
.input input{width:500px;height:35px;border-radius: 20px 0 0 20px;}
.nav a{text-decoration: none;
		font-style: normal;
		font-size: 10px;
		color:#3c3c3c;

}
.nav{position: absolute;top:10px;left:52px;}
